/* 06/02/2019 · u/thepante */
@namespace html url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");

  #alltabs-button {-moz-binding: url("userChrome.xml#js");}

  .openit {
      opacity: 1;
      margin-right: 0px !important;
      transition-property: opacity;
      transition-duration: 0.15s !important;
      box-shadow: 5px 15px 101px 22px rgba(0,0,0, calc(0.40 + var(--shadow-strong)));
  }
  .closeit {
      opacity: 0;
      box-shadow: none !important;
      margin-top: calc(-100vh * 2);
      transition-property: opacity;
      transition-duration: 0.15s !important;
  }
